.rates{
  display: flex;
}
.values,.names{
  list-style: none;
  border: 1px solid wheat;
}
.red{
  background-color: rgb(212, 67, 67);
}
.green{
  background-color: rgb(51, 184, 51);
}
body{
  background-color: rgb(130, 158, 219);
}
.names{
  background-color: rgb(233, 224, 93);
}